{% extends 'index.html' %}

{% block content2 %}
    <script src="../../static/js/jquery-1.11.2.min.js"></script>
    <script src="../../static/js/yelp_ajax.js"></script>
    <!--
    <script type="text/jsx;harmony=true" src="../../static/js/yelp_place.js"></script>
    <div class="container">
    <div class="row">
        <div id="yelpPlace" class="col-lg-7 col-sm-6 col-xs-12"></div>
{#        <div id="map-canvas" class="col-lg-3 col-lg-offset-1 col-sm-6 col-xs-12 text-center">{% include 'tests/goog_place_snip.html' %}</div>#}
    </div>
    -->

<h3>Add a place from Yelp</h3>

<input type="radio" name="inputAddress" value="no" onclick="returnUserPosition()"> Search near you?
<input type="radio" name="inputAddress" value="yes" onclick="enableLocationSearch()"> Search near an address? <br>
<div id="userCoord" style="display:block;">
    <p id="placeholderWhileGettingLocation"></p>
    <p><span id="userLat" style="display:none;"></span>
    <span id="userLong" style="display:none;"></span></p>
</div>

<form id="ajaxForm">
    {% csrf_token %}
    <!--Coordinates for use in search without provided location-->

    <!--User provided location-->
    <input type="text" placeholder="Input an address" id="ajaxLocation">
    <input type="text" placeholder="Search terms here!" id="ajaxTerm">
    <input id="yelpGeoCoordLat" type="text" style="display:inline-block;visibility:hidden;">
    <input id="yelpGeoCoordLong" type="text" style="display:inline-block;visibility:hidden;">
    <!--<input onclick="yelp_ajax()" type="submit" value="workworkwork">-->
</form>
<button onclick="yelp_ajax();">Search on Yelp!</button>

<div id="yelpOutput"></div>

<script src="../../static/js/yelp_search.js"></script>
{% endblock %}