{% extends 'index.html' %}

{% block content2 %}
    <script src="../../static/js/yelp_ajax.js"></script>
    <!--
    <script type="text/jsx;harmony=true" src="../../static/js/yelp_place.js"></script>
    <div class="container">
    <div class="row">
        <div id="yelpPlace" class="col-lg-7 col-sm-6 col-xs-12"></div>
{#        <div id="map-canvas" class="col-lg-3 col-lg-offset-1 col-sm-6 col-xs-12 text-center">{% include 'tests/goog_place_snip.html' %}</div>#}
    </div>
    -->

    <h4>Test ajax call</h4>
    <form id="ajaxForm">
        {% csrf_token %}
        <input type="text" placeholder="Location here" id="ajaxLocation">
        <input type="text" placeholder="search term" id="ajaxTerm">
        <input type="submit" value="workworkwork" onclick="yelp_ajax();">
    </form>
    <button onclick="yelp_ajax()">Hi</button>

    <h4>PoopeRater Yelp Search</h4>
<br><br>

<input type="radio" name="inputAddress" value="no" onclick="returnUserPosition()"> Search near you?
<input type="radio" name="inputAddress" value="yes" onclick="enableLocationSearch()"> Search near an address? <br>
<div id="userCoord" style="display:block;">
    <p id="placeholderWhileGettingLocation"></p>
    <p><span id="userLat" style="display:none;"></span>
    <span id="userLong" style="display:none;"></span></p>
</div>


<form method="post" name="yelpSearch">
    {% csrf_token %}
    <!--Coordinates for use in search without provided location-->
    <input id="yelpGeoCoordLat" type="text" name="geoCoordLat" style="display:none;" placeholder="Your coordinates here.">
    <input id="yelpGeoCoordLong" type="text" name="geoCoordLong" style="display:none;" placeholder="Your coordinates here.">
    <!--User provided location-->
    <input id="yelpLocation" type="text" name='location' placeholder="Input an address near which you'd like to search!" style="width:300px;display:none;" value="{{ location }}"><br>
    <input id="yelpInput" type="text" name='term' placeholder="Search terms here" style="width:200px;" value="{{ term }}"><br><br>
    <input id="yelpSubmit" type="submit" value="Search on Yelp!" onclick="return empty();">
</form>

{% for business in businesses %}
    <p id='{{ business.id }}'>
        <span style="font-weight:bold;">{{ business.id }}</span><br>
        {% for parameter, value in business.items %}
            {{ parameter }}: {{ value }} <br>
        {% endfor %}
    </p>
{% endfor %}

<script src="../../static/js/yelp_search.js"></script>
{% endblock %}