{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Place 1km around you</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" charset="utf-8">
    <link href="../static/css/google_places.css" type="text/css" rel="stylesheet">
  </head>
  <body>
  <div id="title">
      <h3>Places 1km around you</h3>
  </div>
    <div id="map-canvas"></div>

  <div id="place-details"><span style="font-weight:bold;">Place Details</span></div>


  <footer id="end">
      <p>Copyright Number 2 Labs</p>
  </footer>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <script src= "{% static 'js/google_places.js' %}"></script>
  </body>
</html>