{% load staticfiles %}

<!--Note: we should only include libraries we need on each page, rather than importing them all
on every page.
Also, we should download the libraries ourselves in case the libraries are unavailable
as has happened before-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.1/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.1/JSXTransformer.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>


<script type="text/jsx;harmony=true" src="{% static 'js/place_map.js' %}"></script>

<script type="text/jsx;harmony=true" src="{% static 'js/places.js' %}"></script>
<script type="text/jsx;harmony=true" src="{% static 'js/place.js' %}"></script>
<script type="text/jsx;harmony=true" src="{% static 'js/comments.js' %}"></script>
<script type="text/jsx;harmony=true" src="{% static 'js/ratings.js' %}"></script>
<script type="text/jsx;harmony=true" src="{% static 'js/vote.js' %}"></script>
<script type="text/jsx;harmony=true" src="{% static 'js/button.js' %}"></script>
<script type="text/jsx;harmony=true" src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/router.js' %}"></script>




