{% load staticfiles %}
<!-- NOTE: can we be more careful importing all these scripts? Not all are needed in every page-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/JSXTransformer.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


<script type="text/jsx;harmony=true" src="{% static 'js/google_places.js' %}"></script>
<script type="text/jsx;harmony=true" src="{% static 'js/places.js' %}"></script>
<script type="text/jsx;harmony=true" src="{% static 'js/place.js' %}"></script>
<script type="text/jsx;harmony=true" src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/router.js' %}"></script>


