<!-- Modal -->
<div class="modal fade" id="addPlaceModal" tabindex="-1" role="dialog" aria-labelledby="addPlaceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addPlaceModalLabel">Add a Business Manually</h4>
            </div>
            <div class="modal-body">
                <form method="POST">
                    <div class="text-left">
                        <label>Business name</label><br>
                        <input type="text" id ="placeName" placeholder="Number Two Labs"> The fields below are optional.<br>
                        <ul id="nameRequired" style="display:none"><li>This business needs a name!</li></ul>
                        <label>Address</label><br>
                        <input type="text" id="placeAddress" placeholder="1234 Sesame Street"><br>
                        <label>City</label><br>
                        <input type="text" id="placeCity" placeholder="San Francisco"><br>
                    </div>

                    <div class ="modal-footer">
                        <button type="button" class="btn btn-default" onclick="addPlaceToDatabase()">Add place</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#newModal">Now rate it!</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!--Placeholder for ratings modal-->
<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="newModalLabel">Now rate it!</h4>
            </div>
            <div class="modal-body">
                HELLO. I am a new modal.
                Testing 1,2,3
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!--Yelp modal-->
<div class="modal fade" id="yelpModal" tabindex="-1" role="dialog" aria-labelledby="yelpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #fafafa">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="yelpModalLabel">Add a Business</h4>
            </div>
            <div class="modal-body text-center">
                <script src="../static/js/jquery-1.11.2.min.js"></script>
                <script src="../static/js/ajax.js"></script>

                <h3>Add a place from Yelp</h3>
                <div class="btn-group">
                    <!--Change value of yelpIsLocation to determine type of search-->
                    <button type="button" id="yelpIsNear" class="active btn btn-default" name="inputAddress" value="yes" onclick="document.getElementById('yelpIsLocation').value='no';returnUserPosition();">Search near you</button>
                    <button type="button" id="yelpIsLocation" class="btn btn-default" name="inputAddress" value="no" onclick="this.value='yes';enableLocationSearch();">Search for address</button><br>
                </div>

                <div id="userCoord" style="display:block;">
                    <p><small id="placeholderWhileGettingLocation"></small></p>
                    <p><span id="userLat" style="display:none;"></span>
                    <span id="userLong" style="display:none;"></span></p>
                </div>

                <form id="ajaxForm">
                    {% csrf_token %}
                    <!--User provided location-->
                    <div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                        <input type="text" class="form-control" placeholder="E.g. 200 California St" id="ajaxLocation"><br>
                        <input type="text" class="form-control" placeholder="E.g. dinner" id="ajaxTerm">
                    </div>
                    <!--Coordinates stay hidden-->
                    <input id="yelpGeoCoordLat" type="text" style="display:inline-block;visibility:hidden;">
                    <input id="yelpGeoCoordLong" type="text" style="display:inline-block;visibility:hidden;">
                </form>
                <br>
                <div class="col-lg-12">
                    <button type="button" class="btn btn-danger" onclick="yelp_ajax();">Search on Yelp!</button>&nbsp;
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#addPlaceModal">Add Manually</button>
                </div>
                <p></p>
                <br>
                <br>
                <div id="yelpOutput"></div>

                <script src="../static/js/yelp_search.js"></script>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#addPlaceModal">Can't find your toilet? Add it manually!</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--DELETE-->
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="../static/src/bootstrap/js/bootstrap.min.js"></script>-->