{% extends 'index.html' %}

{% block content2 %}

    {% include 'modals.html' %}

    <div class="row">
        <!--Added Now Loading text which disappears on place load-->
        <div class="col-md-6">
            <br>
            <div id="places" >Now Loading...</div>
        </div>
        <div class="col-md-6">
            <br><br>
            <div id="buttonDiv"></div>
            <div id="map-canvas" class="text-center panel panel-default">{% include 'tests/goog_place_snip.html' %}</div>
        </div>
    </div>

{% endblock content2 %}