{% extends 'index.html' %}

{% block content2 %}

    {% include 'modals.html' %}

    <div class="row">
        <!--Added Now Loading text which disappears on place load-->
        <div class="col-md-6 col-xs-12">
            <!--<div id="buttonDiv"></div>-->
            <div id="loggedInWarning" class="alert alert-info hide">Hey, you're not logged in.
                You can still browse our site, but you won't be able to post or create a profile.
                You might want to <b><a href="/login">LOGIN.</a></b></div>
            <br>
            <div id="places" >Loading... <strong>Please make sure your Geo-Location is enabled</strong></div>
        </div>
        <div class="col-md-6 col-xs-12" id="mapemerg">
            <br><br>
            <div id="buttonDiv"></div>
            <div id="map-canvas" class="text-center panel panel-default">{% include 'tests/goog_place_snip.html' %}</div>
        </div>
    </div>

{% endblock content2 %}