html{
    height: 100%;
}
body {
    height: 100%;
}

#map-canvas {
    height: 400px;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    /*height: 100%;*/
    /*weight: 100%;*/
    top: 55px;
}

#place-details {
    display:inline-block;
}