body {
  /*background: #fff;*/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
  padding-top: 80px;
}

a {
  color: #000000;
  text-decoration: none;
}

#ratingalert {
 display: none;

}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0px 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

.lineBreak {
  border-bottom: 1px solid #ddd;
  font-size: 0em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}


h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.2em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

.react-rater {
  font-size: 25px;
  direction: rtl;
  unicode-bidi: bidi-override;
  display: inline-block; }

.react-rater a {
    cursor: pointer;
    color: #ccc; }

.react-rater a:hover {
      color: #ffdd99; }

.react-rater a:hover ~ a {
        color: #ffdd99; }

.react-rater a.is-active {
      color: #fc6 !important; }

.react-rater a.is-active ~ a {
        color: #fc6; }

.react-rater a.is-disabled {
      color: #ccc !important;
      cursor: not-allowed; }

#react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#react-paginate li {
    display: inline-block;
}

#react-paginate .break a {
    cursor: default;
}