{% extends 'index.html' %}
{% block content2 %}
 <form class="col-md-7 col-lg-7 col-sm-12 col-xs-12">
    <div class="row text-center" style="padding-top: 80px; ">
        <div class="col-xs-12 col-md-6 col-md-offset-2 col-sm-12">
            <div><h3 style="color: #666666;">Login/Sign Up to PoopeRator</h3></div>
            <div><h4>Find and Rate Bathrooms</h4></div>
            <div>
            <a class="btn btn-primary btn-block" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Facebook</a>
            <a class="btn btn-danger btn-block" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Google</a>
            <a class="btn btn-info btn-block" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Twitter</a>
            </div>
            <div>
                <small>Don't worry, we will never post to your accounts.</small>
            </div>
        </div>
    </div>
</form>
<div class="col-md-4 col-lg-4 hidden-sm hidden-xs" style="padding-top: 80px; ">
    <img width="300px" height="300px" src="../../static/img/login_page.png">
</div>
{% endblock content2 %}

<!--
<nav>
           <ul>
           {% if user and not user.is_anonymous %}
             <li>
               <a>Hello {{ user.get_full_name|default:user.username }}!</a>
             </li>
             <li>
               <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
             </li>
           {% else %}
             <li>
               <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
             </li>
             <li>
               <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
             </li>
             <li>
               <a class="btn btn-info btn-block" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a>
             </li>
           {% endif %}
           </ul>
</nav>
<--